body  {
    background-color: darkolivegreen;
}

h1 {
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 20px;
    color: lightgray;
}
.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(183, 164, 164);
    width: 500px;
    height: 600px;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
}

.display-window {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-family: Arial, Helvetica, sans-serif;
    width: 450px;
    height: 120px;
    margin-bottom: 15px;
    border-style: solid;
    border-radius: 10px;
    background-color: hsl(34, 100%, 97%)
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: auto;
    gap: 10px;
    justify-content: center;
}

.buttons {
    border-radius: 10px;
    width: 90px;
    height: 50px;
    font-size: larger;
}

#clear, #delete {
    width: 190px;
    height: 50px;
}

#display-result {
    font-size: xx-large;
    padding-right: 25px;
}


