body  {
    background-color: darkolivegreen;
}

h1 {
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 20px;
    color: lightgray;
}
.main-box {
    display: flex;
    background-color: lightgray;
    width: 500px;
    height: 600px;
    margin: auto;
}